.gallery {
  background-image: url(../img/gallery/gallery-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 150px;
  &__title {
    font-family: "Montserrat-Bold";
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    color: #fff;
    text-align: center;
    margin: 0 0 10px;
  }
  &__subtitle {
    font-size: 22px;
    line-height: 32px;
    color: #fff;
    display: block;
    margin: 0 0 30px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &-instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 7px;
    &__link {
      margin: 0 auto;
    }
    svg {
      width: 176px;
      height: 50px;
      margin-left: 10px;
    }
    &__text {
      font-size: 22px;
      line-height: 32px;
      color: #fff;
    }
  }
}

.gallery-slider {
  .gallery__item {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(11, 11, 11, 0.7);
      opacity: 0;
      transition: opacity 0.3s linear;
    }
    max-width: 370px !important;
    max-height: 270px !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &:hover {
      .photo-gallery__crop {
        opacity: 1;
      }
      .photo-gallery__img {
        transform: scale(1.2);
      }
      &::before {
        opacity: 1;
      }
    }
  }
  &--top {
    margin-bottom: 30px;
  }
  &--bottom {
  }
  &--top .swiper-wrapper,
  &--bottom .swiper-wrapper {
    transition-timing-function: linear;
  }
}

.insta-default {
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: min-content;
    &:hover {
      .insta-default__text {
        color: $red;
        text-decoration-color: $red;
      }
    }
  }
  &__text {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s ease-in, color 0.2s ease-in;
  }
}
.insta-default__logo {
  background-color: $red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 20px;
    height: 20px;
    fill: #fff;
  }
}
.insta-default__text {
  color: #fff;
  font-size: 22px;
  line-height: 16px;
  margin-left: 10px;
  transition: 0.2s ease-in;
}

.photo-gallery {
  &__crop {
    opacity: 0;
    transition: 0.3s ease-in;
  }
  &__img {
    transition: transform 0.3s linear;
    &:hover {
      transform: scale(1.2);
    }
  }
}
