.intro {
    background-image: url(../img/intro/intro-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 128%;
    &__top {
        margin-top: 60px;
    }
    &__title {
        max-width: 535px;
        font-family: "Montserrat-Bold";
        font-weight: bold;
        font-size: 46px;
        line-height: 50px;
        margin: 0 0 20px;
        color: #fff;
        span {
            color: $red;
        }
    }
    &__subtitle {
        font-size: 22px;
        line-height: 32px;
        color: #fff;
        margin: 0 0 32px;
        max-width: 570px;
    }
    &__teasers {
        display: flex;
        align-items: center;
    }
    &__btns {
        display: flex;
        align-items: center;
        margin-top: 50px;
    }
    
    &__btn {
        margin-right: 30px;
    }

    &-bottom__certificates {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    &__container  {
        display: flex;
        justify-content: space-between;
    }

    &-bottom {
        &__term-text {
            font-size: 22px;
            line-height: 32px;
            margin: 0;
        }
        &__term {
            font-family: "Montserrat-Bold", sans-serif;
            font-weight: bold;
            font-size: 42px;
            line-height: 50px;
            color: $red;
        }
        &__text {
            max-width: 570px;
            font-size: 16px;
            line-height: 26px;
            margin: 17px 0 0;
        }
    }
}

.teaser {
    display: flex;
    align-items: center;
    &:hover &__icon {
        background-color: $blur-hover;
    }
    &__icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $blur;
        transition: background-color .3s ease-in;
    }
    svg {
        width: 40px;
        height: 40px;
    }
    &__text {
        font-size: 16px;
        line-height: 18px;
        max-width: 185px;
        margin-left: 30px;
        color: #fff;
    }
    + .teaser {
        margin-left: 15px;
    }
}

.logo-rounded {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    margin: 80px 0 auto auto;
    &__icon {
        width: 28px;
        height: 28px;
    }
    &__text {
        position: absolute;
        width: 142px;
        height: 142px;
        z-index: 1;
        animation: rotate 10s infinite;
        animation-timing-function: linear;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}