.modal-fighter {
  .modal__title {
      margin-bottom: 37px;
      @include mobile-sm {
        margin-bottom: 20px;
      }
  }
}

.fighter-info {
  display: flex;
  margin-bottom: 20px;
  @include mobile-sm {
    flex-direction: column;
  }
  &__left {
    margin-right: 30px;
    @include mobile-sm {
      margin-bottom: 15px;
    }
  }
  &__item {
    display: flex;
    & + .fighter-info__item {
      margin-top: 10px;
    }
  }
  &__right {
      margin: 0;
  }
  &__key {
    margin-right: 5px;
    font-size: 16px;
    line-height: 22px;
    color: #afafaf;
    @include mobile-sm {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__value {
    font-size: 16px;
    line-height: 22px;
    @include mobile-sm {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.fighter-slider {
  width: 570px;
  height: 295px;
  padding-bottom: 70px;
  max-width: 100%;
  @include mobile-sm {
    width: 100%;
    height: auto;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    @include mobile-sm {
      width: 100% !important;
    }
  }
  .swiper-pagination {
    bottom: 28px;
  }
}

.more-info {
  margin-bottom: 32px;
  &__item {
    display: flex;
    & + .more-info__item {
      margin-top: 10px;
    }
  }
  &__key {
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #b9b9b9;
    margin-right: 5px;
    @include mobile-sm {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__value {
    font-size: 16px;
    line-height: 22px;
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: normal;
    margin: 0;
    @include mobile-sm {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.fighter-career {
  font-size: 16px;
  line-height: 22px;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: normal;
  margin: 0 0 5px;
  &__item {
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    list-style: none;
    margin: 7px 0;
    &::before {
        content: '•';
        position: absolute;
        top: -1px;
        left: -13px;
        width: 2px;
        height: 2px;
    }
  }
  &__list {
      margin: 0 0 5px;
      padding-left: 15px;
  }
}

.fighter {
    &-training {
        font-family: "Montserrat-Regular", sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        margin: 0;
      }
      &-prof-record {
        margin-top: 5px;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 22px;
      }
      &-socials {
          &__item {
              max-width: max-content;
          }
      }
    &-socials__item + .fighter-socials__item {
        margin-top: 10px;
    }
}