<section class="catalog" id="catalog">
    <!-- <div class="swiper swiper-line">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
              <svg>
                  <use xlink:href="./img/sprite.svg#animate-line"></use>
              </svg>
          </div>
        </div>
      </div> -->
    <div class="container">
        <h2 class="catalog__title title">По Вашему запросу <span>мы можем изготовить</span></h2>
        <div class="catalog__filter catalog-filter">
            <ul class="catalog-filter__for list-reset filter-for">
                <li class="filter-for__item">
                    <button class="filter-for__btn icon-btn icon-btn--gray btn-reset active">
                        <svg>
                            <use xlink:href="./img/sprite.svg#man-icon"></use>
                        </svg>
                        <span class="icon-btn__text filter-for__text">Мужская продукция</span></button>
                </li>
                <li class="filter-for__item">
                    <button class="filter-for__btn icon-btn icon-btn--gray btn-reset">
                        <svg>
                            <use xlink:href="./img/sprite.svg#woman-icon"></use>
                        </svg>
                        <span class="icon-btn__text filter-for__text">Женская продукция</span></button>
                </li>
                <li class="filter-for__item">
                    <button class="filter-for__btn icon-btn icon-btn--gray btn-reset">
                        <svg>
                            <use xlink:href="./img/sprite.svg#child-icon"></use>
                        </svg>
                        <span class="icon-btn__text filter-for__text">Детская продукция</span></button>
                </li>
            </ul>
            <div class="catalog-filter__type catalog-type">
                <ul id="content-1" class="catalog-type__list list-reset os-host-flexbox os-theme-round-dark">
                    <li class="catalog-type__item">
                        <button class="catalog-type__btn btn btn--black btn-reset active">Рашгарды</button>
                    </li>
                    <li class="catalog-type__item">
                        <button class="catalog-type__btn btn btn--black btn-reset">Футболки</button>
                    </li>
                    <li class="catalog-type__item">
                        <button class="catalog-type__btn btn btn--black btn-reset">Тайтсы</button>
                    </li>
                    <li class="catalog-type__item">
                        <button class="catalog-type__btn btn btn--black btn-reset">Спортивный костюм</button>
                    </li>
                    <li class="catalog-type__item">
                        <button class="catalog-type__btn btn btn--black btn-reset">Сумки</button>
                    </li>
                    <li class="catalog-type__item">
                        <button class="catalog-type__btn btn btn--black btn-reset">Кепки</button>
                    </li>
                    <li class="catalog-type__item">
                        <button class="catalog-type__btn btn btn--black btn-reset">Рашгарды 2</button>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="catalog__list list-reset">
            <li class="catalog__item">
                <article class="catalog__article article">
                    <div class="article__left">
                        <div class="swiper article__slider article-slider">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                              <!-- Slides -->
                              <div class="swiper-slide">
                                <a class="article-slider__link" data-fancybox="article-gallery-1" data-src="./img/catalog/rashgard.png">
                                    <img src="./img/catalog/rashgard.png" />
                                    <button class="btn btn-reset article-slider__crop slider__crop">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#search"></use>
                                        </svg>
                                    </button>
                                </a>
                              </div>
                              <div class="swiper-slide">
                                <a class="article-slider__link" data-fancybox="article-gallery-1" data-src="./img/catalog/rashgard.png">
                                    <img src="./img/catalog/rashgard.png" />
                                    <button class="btn btn-reset article-slider__crop slider__crop">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#search"></use>
                                        </svg>
                                    </button>
                                </a>
                              </div>
                              <div class="swiper-slide">
                                <a class="article-slider__link" data-fancybox="article-gallery-1" data-src="./img/catalog/rashgard.png">
                                    <img src="./img/catalog/rashgard.png" />
                                    <button class="btn btn-reset article-slider__crop slider__crop">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#search"></use>
                                        </svg>
                                    </button>
                                </a>
                              </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                          </div>
                    </div>
                    <div class="article-info">
                        <div class="article-info__top">
                            <h3 class="article__name">Компрессионный рашгард (лонгслив) </h3>
                            <p class="article__serial">Муж. инд.  S180</p>
                            <p class="article__material">180г/м2 (90% poliester, 10% spandex)</p>
                        </div>
                        <div class="article-info__bottom">
                            <div class="article-price">
                                <p class="article-price__old">от <span>4900</span> руб. за ед.</p>
                                <p class="article-price__new">От <span>4560</span> руб. за ед.</p>
                            </div>
                            <button class="btn btn-reset btn--red article-info__btn" data-modal="modal-order">Заказать</button>
                        </div>
                    </div>
                </article>
            </li>
            <li class="catalog__item">
                <article class="catalog__article article">
                    <div class="article__left">
                        <div class="swiper article__slider article-slider">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                              <!-- Slides -->
                              <div class="swiper-slide">
                                <a class="article-slider__link" data-fancybox="article-gallery-2" data-src="./img/catalog/rashgard.png">
                                    <img src="./img/catalog/rashgard.png" />
                                    <button class="btn btn-reset article-slider__crop slider__crop">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#search"></use>
                                        </svg>
                                    </button>
                                </a>
                              </div>
                              <div class="swiper-slide">
                                <a class="article-slider__link" data-fancybox="article-gallery-2" data-src="./img/catalog/rashgard.png">
                                    <img src="./img/catalog/rashgard.png" />
                                    <button class="btn btn-reset article-slider__crop slider__crop">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#search"></use>
                                        </svg>
                                    </button>
                                </a>
                              </div>
                              <div class="swiper-slide">
                                <a class="article-slider__link" data-fancybox="article-gallery-2" data-src="./img/catalog/rashgard.png">
                                    <img src="./img/catalog/rashgard.png" />
                                    <button class="btn btn-reset article-slider__crop slider__crop">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#search"></use>
                                        </svg>
                                    </button>
                                </a>
                              </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                          </div>
                    </div>
                    <div class="article-info">
                        <div class="article-info__top">
                            <h3 class="article__name">Компрессионный рашгард (лонгслив) </h3>
                            <p class="article__serial">Муж. инд.  S180</p>
                            <p class="article__material">180г/м2 (90% poliester, 10% spandex)</p>
                        </div>
                        <div class="article-info__bottom">
                            <div class="article-price">
                                <p class="article-price__old">от <span>4900</span> руб. за ед.</p>
                                <p class="article-price__new">От <span>4560</span> руб. за ед.</p>
                            </div>
                            <button class="btn btn-reset btn--red article-info__btn" data-modal="modal-order">Заказать</button>
                        </div>
                    </div>
                </article>
            </li>
            <li class="catalog__item">
                <article class="catalog__article article">
                    <div class="article__left">
                        <div class="swiper article__slider article-slider">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                              <!-- Slides -->
                              <div class="swiper-slide">
                                <a class="article-slider__link" data-fancybox="article-gallery-3" data-src="./img/catalog/rashgard.png">
                                    <img src="./img/catalog/rashgard.png" />
                                    <button class="btn btn-reset article-slider__crop slider__crop">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#search"></use>
                                        </svg>
                                    </button>
                                </a>
                              </div>
                              <div class="swiper-slide">
                                <a class="article-slider__link" data-fancybox="article-gallery-3" data-src="./img/catalog/rashgard.png">
                                    <img src="./img/catalog/rashgard.png" />
                                    <button class="btn btn-reset article-slider__crop slider__crop">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#search"></use>
                                        </svg>
                                    </button>
                                </a>
                              </div>
                              <div class="swiper-slide">
                                <a class="article-slider__link" data-fancybox="article-gallery-3" data-src="./img/catalog/rashgard.png">
                                    <img src="./img/catalog/rashgard.png" />
                                    <button class="btn btn-reset article-slider__crop slider__crop">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#search"></use>
                                        </svg>
                                    </button>
                                </a>
                              </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                          </div>
                    </div>
                    <div class="article-info">
                        <div class="article-info__top">
                            <h3 class="article__name">Компрессионный рашгард (лонгслив) </h3>
                            <p class="article__serial">Муж. инд.  S180</p>
                            <p class="article__material">180г/м2 (90% poliester, 10% spandex)</p>
                        </div>
                        <div class="article-info__bottom">
                            <div class="article-price">
                                <p class="article-price__old">от <span>4900</span> руб. за ед.</p>
                                <p class="article-price__new">От <span>4560</span> руб. за ед.</p>
                            </div>
                            <button class="btn btn-reset btn--red article-info__btn" data-modal="modal-order">Заказать</button>
                        </div>
                    </div>
                </article>
            </li>
            <li class="catalog__item">
                <article class="catalog__article article">
                    <div class="article__left">
                        <div class="swiper article__slider article-slider">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                              <!-- Slides -->
                              <div class="swiper-slide">
                                <a class="article-slider__link" data-fancybox="article-gallery-4" data-src="./img/catalog/rashgard.png">
                                    <img src="./img/catalog/rashgard.png" />
                                    <button class="btn btn-reset article-slider__crop slider__crop">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#search"></use>
                                        </svg>
                                    </button>
                                </a>
                              </div>
                              <div class="swiper-slide">
                                <a class="article-slider__link" data-fancybox="article-gallery-4" data-src="./img/catalog/rashgard.png">
                                    <img src="./img/catalog/rashgard.png" />
                                    <button class="btn btn-reset article-slider__crop slider__crop">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#search"></use>
                                        </svg>
                                    </button>
                                </a>
                              </div>
                              <div class="swiper-slide">
                                <a class="article-slider__link" data-fancybox="article-gallery-4" data-src="./img/catalog/rashgard.png">
                                    <img src="./img/catalog/rashgard.png" />
                                    <button class="btn btn-reset article-slider__crop slider__crop">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#search"></use>
                                        </svg>
                                    </button>
                                </a>
                              </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                          </div>
                    </div>
                    <div class="article-info">
                        <div class="article-info__top">
                            <h3 class="article__name">Компрессионный рашгард (лонгслив) </h3>
                            <p class="article__serial">Муж. инд.  S180</p>
                            <p class="article__material">180г/м2 (90% poliester, 10% spandex)</p>
                        </div>
                        <div class="article-info__bottom">
                            <div class="article-price">
                                <p class="article-price__old">от <span>4900</span> руб. за ед.</p>
                                <p class="article-price__new">От <span>4560</span> руб. за ед.</p>
                            </div>
                            <button class="btn btn-reset btn--red article-info__btn" data-modal="modal-order">Заказать</button>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
        <div class="catalog__bottom">
            <button class="catalog__more-btn btn btn--small btn--bordered btn-reset">
                <svg>
                    <use xlink:href='./img/sprite.svg#arrow-down'></use>
                </svg>
                <span class="btn__text">Показать еще</span>
                <svg>
                    <use xlink:href='./img/sprite.svg#arrow-down'></use>
                </svg>
            </button>
            <button class="catalog__grid-btn btn btn-reset" data-modal="modal-size-grid">
                <svg>
                    <use xlink:href='./img/sprite.svg#size-grid'></use>
                </svg>
                <div class="btn__text">Размерная сетка</div>
            </button>
        </div>
    </div>
</section>