<section class="contacts">
    <div id="map">
        <div class="contacts__info">
            <h2 class="contacts__title title">Наши контакты</h2>
            <a href="tel:+79193993914" class="contacts__number">+7 919 399 39 14</a>
            <time class="contacts__time">Ежедневно с 10:00 до 21:00</time>
            <a href="mailto:info@grappfit.ru" class="contacts__mail">info@grappfit.ru</a>
            <address class="contacts__address">г.Екатеринбург, ул. Бориса Галушкина, 10</address>
            <ul class="contacts-socials__list list-reset">
                <li class="contacts-socials__item">
                  <a href="#" class="contacts-socials__link">
                    <svg>
                      <use xlink:href='./img/sprite.svg#whatsapp'></use>
                    </svg>
                  </a>
                </li>
                <li class="contacts-socials__item">
                  <a href="#" class="contacts-socials__link">
                    <svg>
                      <use xlink:href='./img/sprite.svg#telegram'></use>
                    </svg>
                  </a>
                </li>
                <li class="contacts-socials__item">
                  <a href="#" class="contacts-socials__link">
                    <svg>
                      <use xlink:href='./img/sprite.svg#instagram'></use>
                    </svg>
                  </a>
                </li>
            </ul>
        </div>
    </div>
</section>