<section class="faq">
    <div class="container">
      <h2 class="faq__title title--small">Есть дополнительные вопросы?</h2>
      <span class="faq__subtitle subtitle--small"
        >Введите свой телефон и мы Вам перезвоним:</span
      >
      <form action="#" class="faq__form">
        <label class="faq__label input-label">
          <input
            class="faq__input input im-phone"
            type="text" required
          />
          <span class="input-span">Контактный телефон</span>
        </label>
        <a href="#" class="faq__btn btn btn--red">Перезвонить</a>
      </form>
    </div>
  </section>