<footer class="footer" id="footer">
  <a href="#intro" class="scroll-top active">
    <svg>
      <use xlink:href="img/sprite.svg#scroll-top">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="footer__left footer-left">
      <a href="#" class="footer__logo">
        <svg>
          <use xlink:href="./img/sprite.svg#footer-logo"></use>
        </svg>
      </a>
      <span class="footer-left__text">
        Спортивная одежда <span>GRAPPFIT</span>
      </span>
    </div>
    <div class="footer-agreement">
      <small class="footer-agreement__text">© 2021 Все права защищены</small>
      <button class="footer-agreement__btn btn-reset" data-modal="agreement">
        Политика конфиденциальности
      </button>
    </div>
    <div class="footer__site-developer site-developer">
      <p class="site-developer__text">
        Разработка сайта
        <a
          href="https://proseogroup.ru/?utm_source=direct&amp;utm_medium=footer&amp;utm_campaign=grappfit"
          class="site-developer__link"
          target="_blank"
          rel="nofollow"
          >Proseogroup.ru</a
        >
      </p>
      <a
        href="https://proseogroup.ru/?utm_source=direct&amp;utm_medium=footer&amp;utm_campaign=grappfit"
        class="proseo__icon-link"
        target="_blank"
      >
        <img src="./img/site-dev.svg" alt="site developer logo">
      </a>
    </div>
  </div>
</footer>
