<section class="gallery">
    <h2 class="gallery__title title">Галерея</h2>
    <span class="gallery__subtitle subtitle">Выполненная на заказ продукция</span>
    <ul class="gallery__list list-reset">
        <li class="gallery__item">
            <a data-fancybox="scroll-gallery" data-src="https://lipsum.app/id/1/800x600">
                <img src="https://lipsum.app/id/1/300x225" />
            </a>
        </li>
    </ul>
    <div class="gallery-instagram">
        <span class="gallery-instagram__text">также смотрите нас в</span>
        <svg>
            <use xlink:href='./img/sprite.svg#instagram-text'></use>
        </svg>
    </div>
    <a href="https://www.instagram.com/grappfit.ru/" class="gallery-instagram__link">
        
    </a>
    <a href="https://www.instagram.com/grappfit.ru/" class="gallery-instagram__link insta-default__link">
        <div class="insta-default__logo">
            <svg>
                <use xlink:href='./img/sprite.svg#instagram'></use>
            </svg>
        </div>
        <span class="insta-default__text">@grappfit.ru</span>
    </a>
</section>