<header class="header">
  <div class="header__left header-left">
    <a href="/" class="header__logo">
      <svg>
        <use xlink:href="./img/sprite.svg#logo"></use>
      </svg>
    </a>
    <span class="header-left__text">
      Спортивная одежда <span>GRAPPFIT</span>
    </span>
  </div>
  <div class="header__right header-right">
    <span class="header-right__text">Связаться с нами через мессенджеры:</span>
    <ul class="header-socials__list list-reset">
      <li class="header-socials__item">
        <a href="#" class="header-socials__link">
          <svg>
            <use xlink:href="./img/sprite.svg#whatsapp"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials__item">
        <a href="#" class="header-socials__link">
          <svg>
            <use xlink:href="./img/sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials__item">
        <a href="#" class="header-socials__link">
          <svg>
            <use xlink:href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="header-info">
      <a href="tel:+79193993914" class="header-info__number">+7 919 399 39 14</a>
      <time class="header-info__time">Ежедневно с 10:00 до 21:00</time>
    </div>
  </div>
</header>
