<section class="intro" id="intro">
    <div class="mobile-menu-overlay ">
        <div class="mobile-menu ">
          <div class="header__left header-left">
            <div class="header__logo mobile-menu__logo">
              <svg>
                <use xlink:href="./img/sprite.svg#footer-logo"></use>
              </svg>
              <button class="burger-close btn-reset">
                  <svg>
                  <use xlink:href='./img/sprite.svg#close-menu'></use>
                  </svg>
              </button>
            </div>
            <span class="header-left__text mobile-menu__top-text">
              Спортивная одежда <span>GRAPPFIT</span>
            </span>
          </div>
          <div class="header-info mobile-menu__info mobile-menu-info">
              <div class="mobile-menu-info__left">
                <a href="tel:+79193993914" class="header-socials__link mobile-menu__phone-link">
                    <svg>
                      <use xlink:href="./img/sprite.svg#phone"></use>
                    </svg>
                  </a>
              </div>
              <div class="mobile-menu-info__right">
                  <a href="tel:+79193993914" class="header-info__number mobile-menu__number">+7 919 399 39 14</a>
                  <time class="header-info__time mobile-menu__time">Ежедневно с 10:00 до 21:00</time>
              </div>
          </div>
          <ul class="header-socials__list list-reset">
            <li class="header-socials__item">
              <a href="#" class="header-socials__link mobile-menu__socials-link">
                <svg>
                  <use xlink:href="./img/sprite.svg#whatsapp"></use>
                </svg>
              </a>
            </li>
            <li class="header-socials__item">
              <a href="#" class="header-socials__link mobile-menu__socials-link">
                <svg>
                  <use xlink:href="./img/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="header-socials__item">
              <a href="#" class="header-socials__link mobile-menu__socials-link">
                <svg>
                  <use xlink:href="./img/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
          <nav class="nav">
            <ul class="nav__list list-reset">
              <li class="nav__item">
                <a href="#intro" class="nav__link">Опт. предложения</a>
              </li>
              <li class="nav__item">
                <a href="#advantages" class="nav__link">Преимущества</a>
              </li>
              <li class="nav__item">
                <a href="#catalog" class="nav__link">Каталог</a>
              </li>
              <li class="nav__item">
                <a href="#video-block" class="nav__link">Видео</a>
              </li>
              <li class="nav__item">
                <a href="#gallery" class="nav__link">Галерея</a>
              </li>
              <li class="nav__item">
                <a href="#" data-modal="modal-call" class="nav__link nav__link--rounded">Перезвонить</a>
              </li>
              <li class="nav__item">
                <a href="#reviews" class="nav__link">Отзывы</a>
              </li>
              <li class="nav__item">
                <a href="#contacts" class="nav__link">Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
  <div class="intro-top">
    @include('../partials/header.html')

    <div class="intro__top">
        <div class="container">
            <h1 class="intro__title">Производство <span>спортивной</span> одежды</h1>
            <p class="intro__subtitle">
              рашгарды, футболки, тайсты, спортивный костюм, сумки, кепки, шорты ММА,
              поло
            </p>
            <div class="intro__teasers">
              <div class="intro-teaser teaser">
                <div class="teaser__icon">
                  <svg>
                    <use xlink:href="./img/sprite.svg#teaser-1"></use>
                  </svg>
                </div>
                <div class="teaser__right">
                  <p class="teaser__text">Собственное производство</p>
                </div>
              </div>
              <div class="intro-teaser teaser">
                <div class="teaser__icon">
                  <svg>
                    <use xlink:href="./img/sprite.svg#teaser-2"></use>
                  </svg>
                </div>
                <div class="teaser__right">
                  <p class="teaser__text">Доставка по всей России</p>
                </div>
              </div>
            </div>
            <div class="intro__btns">
              <a href="#catalog" class="btn btn--red intro__btn">
                <span class="btn__text">Выбрать одежду</span>
              </a>
              <a href="#price" class="icon-btn icon-btn--red">
                <svg>
                  <use xlink:href="./img/sprite.svg#price"></use>
                </svg>
                <span class="icon-btn__text">Скачать прайс-лист</span>
              </a>
              <!-- <a href="#" class="intro__btn">
                <svg>
                    <use xlink:href='./img/sprite.svg#whatsapp-btn'></use>
                </svg>
                <span class="btn__text">Запросить  прайс-лист</span>
            </a> -->
            </div>
          </div>
        </div>
  </div>
  <div class="intro__bottom">
    <div class="container intro__container">
        <div class="intro__logo logo-rounded">
            <svg class="logo-rounded__icon">
              <use xlink:href="./img/sprite.svg#logo-icon"></use>
            </svg>
            <svg class="logo-rounded__text">
              <use xlink:href="./img/sprite.svg#logo-text--rounded"></use>
            </svg>
          </div>
          <div class="intro-bottom">
            <p class="intro-bottom__term-text">Cрок изготовления заказа занимает</p>
            <span class="intro-bottom__term">от 14 до 30 дней </span>
            <p class="intro-bottom__term-text">в зависимости от партии</p>
            <p class="intro-bottom__text">
              Все макеты и технические характеристики прописываются в договоре как и
              сроки и обязанности производителя и покупателя.
            </p>
            <a href="#" class="icon-btn icon-btn--red intro-bottom__certificates">
              <svg>
                <use xlink:href="./img/sprite.svg#certif"></use>
              </svg>
              <span class="icon-btn__text">У нас есть сертификаты</span>
            </a>
          </div>
          <img class="intro__human" src="./img/intro/intro-human.png" alt="human" />
    </div>
    <img src="./img/intro/intro-human-2.png" alt="human" class="intro-human-2">
  </div>
</section>
