<div class="modal-wrapper modal-call" id="modal-call">
    <div class="modal modal--sm">
        <button class="modal__close btn-reset">
            <svg>
                <use xlink:href='./img/sprite.svg#close'></use>
            </svg>
        </button>
        <h3 class="modal__title">Перезвонить</h3>
        <span class="modal__subtitle">Введите свой телефон и мы Вам перезвоним</span>
        <form class="modal__form" action="#">
            <label class="input-label modal-label">
                <input type="text" class="input modal-call__input modal__input" required>
                <span class="input-span">Ваше имя</span>
            </label>
            <label class="input-label modal-label">
                <input type="text" class="input modal-call__input modal__input im-phone" required>
                <span class="input-span">Контактный телефон</span>
              </label>
            <a href="#" class="btn btn--red modal__btn">Перезвонить</a>
        </form>
        <div class="modal__logo logo-rounded">
            <svg class="logo-rounded__icon">
                <use xlink:href="./img/sprite.svg#logo-icon"></use>
            </svg>
            <svg class="logo-rounded__text">
                <use xlink:href="./img/sprite.svg#logo-text--rounded"></use>
            </svg>
        </div>
    </div>
</div>