<div class="modal-wrapper modal-size-grid" id="modal-size-grid">
    <div class="modal modal--lg">
        <button class="modal__close btn-reset">
            <svg>
                <use xlink:href='./img/sprite.svg#close'></use>
            </svg>
        </button>
        <h3 class="modal__title">Размерная сетка</h3>
        <img class="size-grid__img" src="./img/catalog/size-grid.jpg" alt="size-grid">
        <div class="modal__logo logo-rounded">
            <svg class="logo-rounded__icon">
                <use xlink:href="./img/sprite.svg#logo-icon"></use>
            </svg>
            <svg class="logo-rounded__text">
                <use xlink:href="./img/sprite.svg#logo-text--rounded"></use>
            </svg>
        </div>
    </div>
</div>