<div class="modal-wrapper modal-gallery" id="modal-gallery">
    <div class="modal modal--lg">
        <button class="modal__close btn-reset">
            <svg>
                <use xlink:href="./img/sprite.svg#close"></use>
            </svg>
        </button>

        <h3 class="modal__title">Наши сертификаты</h3>

        <div class="modal-slider__wrapper">
            <div class="modal-slider--top gallery-slider swiper swiper-no-swiping">
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide gallery__item">
                    <a
                      data-fancybox="modal-gallery"
                      data-src="./img/gallery/gallery-1.jpg"
                    >
                      <img class="photo-gallery__img" src="./img/gallery/gallery-1.jpg" />
                      <button
                        class="
                          btn btn-reset
                          slider__crop
                          video-gallery__crop
                          photo-gallery__crop
                        "
                      >
                        <svg>
                          <use xlink:href="./img/sprite.svg#search"></use>
                        </svg>
                      </button>
                    </a>
                  </div>
                  <div class="swiper-slide gallery__item">
                    <a
                      data-fancybox="modal-gallery"
                      data-src="./img/gallery/gallery-2.jpg"
                    >
                      <img class="photo-gallery__img" src="./img/gallery/gallery-2.jpg" />
                      <button
                        class="
                          btn btn-reset
                          slider__crop
                          video-gallery__crop
                          photo-gallery__crop
                        "
                      >
                        <svg>
                          <use xlink:href="./img/sprite.svg#search"></use>
                        </svg>
                      </button>
                    </a>
                  </div>
                  <div class="swiper-slide gallery__item">
                    <a
                      data-fancybox="modal-gallery"
                      data-src="./img/gallery/gallery-3.jpg"
                    >
                      <img class="photo-gallery__img" src="./img/gallery/gallery-3.jpg" />
                      <button
                        class="
                          btn btn-reset
                          slider__crop
                          video-gallery__crop
                          photo-gallery__crop
                        "
                      >
                        <svg>
                          <use xlink:href="./img/sprite.svg#search"></use>
                        </svg>
                      </button>
                    </a>
                  </div>
                  <div class="swiper-slide gallery__item">
                    <a
                      data-fancybox="modal-gallery"
                      data-src="./img/gallery/gallery-4.jpg"
                    >
                      <img class="photo-gallery__img" src="./img/gallery/gallery-4.jpg" />
                      <button
                        class="
                          btn btn-reset
                          slider__crop
                          video-gallery__crop
                          photo-gallery__crop
                        "
                      >
                        <svg>
                          <use xlink:href="./img/sprite.svg#search"></use>
                        </svg>
                      </button>
                    </a>
                  </div>
                  <div class="swiper-slide gallery__item">
                    <a
                      data-fancybox="modal-gallery"
                      data-src="./img/gallery/gallery-5.jpg"
                    >
                      <img class="photo-gallery__img" src="./img/gallery/gallery-5.jpg" />
                      <button
                        class="
                          btn btn-reset
                          slider__crop
                          video-gallery__crop
                          photo-gallery__crop
                        "
                      >
                        <svg>
                          <use xlink:href="./img/sprite.svg#search"></use>
                        </svg>
                      </button>
                    </a>
                  </div>
                  <div class="swiper-slide gallery__item">
                    <a
                      data-fancybox="modal-gallery"
                      data-src="./img/gallery/gallery-6.jpg"
                    >
                      <img class="photo-gallery__img" src="./img/gallery/gallery-6.jpg" />
                      <button
                        class="
                          btn btn-reset
                          slider__crop
                          video-gallery__crop
                          photo-gallery__crop
                        "
                      >
                        <svg>
                          <use xlink:href="./img/sprite.svg#search"></use>
                        </svg>
                      </button>
                    </a>
                  </div>
                  <div class="swiper-slide gallery__item">
                    <a
                      data-fancybox="modal-gallery"
                      data-src="./img/gallery/gallery-7.jpg"
                    >
                      <img class="photo-gallery__img" src="./img/gallery/gallery-7.jpg" />
                      <button
                        class="
                          btn btn-reset
                          slider__crop
                          video-gallery__crop
                          photo-gallery__crop
                        "
                      >
                        <svg>
                          <use xlink:href="./img/sprite.svg#search"></use>
                        </svg>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            
        </div>

        <div class="modal__logo logo-rounded">
            <svg class="logo-rounded__icon">
                <use xlink:href="./img/sprite.svg#logo-icon"></use>
            </svg>
            <svg class="logo-rounded__text">
                <use xlink:href="./img/sprite.svg#logo-text--rounded"></use>
            </svg>
        </div>

    </div>
</div>