<div class="modal-wrapper modal-fighter" id="modal-fighter">
  <div class="modal modal--md">
    <button class="modal__close btn-reset">
      <svg>
        <use xlink:href="./img/sprite.svg#close"></use>
      </svg>
    </button>
    <h3 class="modal__title">Информация о спортсмене</h3>
    <div class="modal-fighter__info fighter-info">
      <div class="fighter-info__left">
        <img src="./img/partners/fighter-1.jpg" alt="modal-product" />
      </div>
      <dl class="fighter-info__right">
        <div class="fighter-info__item">
          <dt class="fighter-info__key">ФИО:</dt>
          <dt class="fighter-info__value">Таминдаров «ТОР» Эрик</dt>
        </div>
        <div class="fighter-info__item">
          <dt class="fighter-info__key">Год рождения:</dt>
          <dt class="fighter-info__value">1997/08/07 (23 года)</dt>
        </div>
        <div class="fighter-info__item">
          <dt class="fighter-info__key">Рост:</dt>
          <dt class="fighter-info__value">177</dt>
        </div>
        <div class="fighter-info__item">
          <dt class="fighter-info__key">Вес:</dt>
          <dt class="fighter-info__value">76</dt>
        </div>
        <div class="fighter-info__item">
          <dt class="fighter-info__key">Боевой вес:</dt>
          <dt class="fighter-info__value">66 (возможно в 71)</dt>
        </div>
        <div class="fighter-info__item">
          <dt class="fighter-info__key">Национальность:</dt>
          <dt class="fighter-info__value">Татарин</dt>
        </div>
      </dl>
    </div>
    <div class="swiper modal-fighter__slider fighter-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="./img/partners/fighter-slider-1.jpg"
            alt="fighter"
            class="fighter-slider__img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./img/partners/fighter-slider-2.jpg"
            alt="fighter"
            class="fighter-slider__img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./img/partners/fighter-slider-3.jpg"
            alt="fighter"
            class="fighter-slider__img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./img/partners/fighter-slider-1.jpg"
            alt="fighter"
            class="fighter-slider__img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./img/partners/fighter-slider-2.jpg"
            alt="fighter"
            class="fighter-slider__img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./img/partners/fighter-slider-3.jpg"
            alt="fighter"
            class="fighter-slider__img"
          />
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <dl class="fighter-info__more more-info">
      <div class="more-info__item">
        <dt class="more-info__key">Место рождения:</dt>
        <dd class="more-info__value">Республика Казахстан, город Кокшетау</dd>
      </div>
      <div class="more-info__item">
        <dt class="more-info__key">Место жительство:</dt>
        <dd class="more-info__value">Российская Федерация, город Омск</dd>
      </div>
      <div class="more-info__item">
        <dt class="more-info__key">Знание языков:</dt>
        <dd class="more-info__value">
          Русский, Татарский, Казахский, Английский
        </dd>
      </div>
    </dl>
    <p class="fighter-career">
      Спортивная любительская карьера (достижение, разряды, звания):
    </p>
    <ul class="fighter-career__list">
      <li class="fighter-career__item">
        Чемпион Казахстана по рукопашному бою
      </li>
      <li class="fighter-career__item">
        Чемпион Северно-Казахстанской области по кикбоксингу
      </li>
      <li class="fighter-career__item">
        Чемпион Северно-Казахстанской области по Джиу-джитсу
      </li>
      <li class="fighter-career__item">Чемпион Казахстана по панкратиону</li>
      <li class="fighter-career__item">МС по рукопашному бою</li>
      <li class="fighter-career__item">
        КМС по панкратиону (чемпион области и Казахстана )
      </li>
    </ul>
    <p class="fighter-training">Тренируется в г. Омск (ШТОРМ у Шлеменко)</p>
    <p class="fighter-prof-record">Профессиональный рекорд: 0-1-0</p>
    <ul class="fighter-socials list-reset">
      <li class="fighter-socials__item">
        <a
          href="https://www.instagram.com/evgeniidomozhirov.mma/"
          class="fighters-list__insta fighters-insta"
        >
          <div class="fighters-insta__logo">
            <svg>
              <use xlink:href="./img/sprite.svg#instagram"></use>
            </svg>
          </div>
          <span class="fighters-insta__text">@evgeniidomozhirov.mma</span>
        </a>
      </li>
      <li class="fighter-socials__item">
        <a
          href="https://www.instagram.com/eriktamin/"
          class="fighters-list__insta fighters-insta"
        >
          <div class="fighters-insta__logo">
            <svg>
              <use xlink:href="./img/sprite.svg#instagram"></use>
            </svg>
          </div>
          <span class="fighters-insta__text">@eriktamin</span>
        </a>
      </li>
      <li class="fighter-socials__item">
        <a
          href="https://vk.com/erikmma"
          class="fighters-list__insta fighters-insta"
        >
          <div class="fighters-insta__logo">
            <svg>
              <use xlink:href="./img/sprite.svg#vk"></use>
            </svg>
          </div>
          <span class="fighters-insta__text">https://vk.com/erikmma</span>
        </a>
      </li>
      <li class="fighter-socials__item">
        <a
          href="https://www.facebook.com/profile.php?id=100007852355438"
          class="fighters-list__insta fighters-insta"
        >
          <div class="fighters-insta__logo">
            <svg>
              <use xlink:href="./img/sprite.svg#facebook"></use>
            </svg>
          </div>
          <span class="fighters-insta__text">https://www.facebook.com</span>
        </a>
      </li>
    </ul>
    <div class="modal__logo logo-rounded">
      <svg class="logo-rounded__icon">
        <use xlink:href="./img/sprite.svg#logo-icon"></use>
      </svg>
      <svg class="logo-rounded__text">
        <use xlink:href="./img/sprite.svg#logo-text--rounded"></use>
      </svg>
    </div>
  </div>
</div>
