<div class="modal-wrapper modal-order overlay">
    <div class="modal modal--sm">
        <button class="modal__close btn-reset">
            <svg>
                <use xlink:href='./img/sprite.svg#close'></use>
            </svg>
        </button>
        <h3 class="modal__title">Заказать</h3>
        <span class="modal__subtitle">Для заказа введите своё имя и телефонный номер</span>
        <div class="modal-order__info order-product">
            <div class="order-product__left">
                <img src="./img/catalog/modal-product.png" alt="modal-product">
            </div>
            <div class="order-product__right">
                <h4 class="order-product__title">Компрессионный рашгард (шортслив) </h4>
                <span class="order-product__serial">Муж. инд.  S180</span>
                <p class="order-product__material">180г/м2 (90% poliester, 10% spandex)</p>
                <span class="order-product__price">от <span class="order-product__price-sum">4410</span> руб. за ед. </span>
            </div>
        </div>
        <form class="modal__form" action="#">
            <input type="text" class="input-default modal-order__input modal__input" placeholder="Ваше имя">
            <input type="text" class="input-default modal-order__input modal__input" placeholder="Контактный телефон">
            <a href="#" class="btn btn--red modal__btn">Перезвонить</a>
        </form>
        <div class="modal__logo logo-rounded">
            <svg class="logo-rounded__icon">
                <use xlink:href="./img/sprite.svg#logo-icon"></use>
            </svg>
            <svg class="logo-rounded__text">
                <use xlink:href="./img/sprite.svg#logo-text--rounded"></use>
            </svg>
        </div>
    </div>
</div>