<section class="partners">
    <div class="container container--small">
        <img src="./img/partners/partners-bg.png" alt="partners" class="partners__bg">
        <h2 class="partners__title">Наши партнеры</h2>
        <ul class="partners__list list-reset">
            <li class="partners__item">
                <svg>
                    <use xlink:href="./img/sprite.svg#partner-1"></use>
                </svg>
            </li>
            <li class="partners__item">
                <svg>
                    <use xlink:href="./img/sprite.svg#partner-2"></use>
                </svg>
            </li>
            <li class="partners__item">
                <svg>
                    <use xlink:href="./img/sprite.svg#partner-3"></use>
                </svg>
            </li>
            <li class="partners__item">
                <svg>
                    <use xlink:href="./img/sprite.svg#partner-4"></use>
                </svg>
            </li>
            <li class="partners__item">
                <svg>
                    <use xlink:href="./img/sprite.svg#partner-5"></use>
                </svg>
            </li>
        </ul>
        <svg>
            <use xlink:href='./img/sprite.svg#text-line'></use>
        </svg>
        <div class="fighters">
            <div class="fighters__video fighters-video">
                <div class="fighters-video__slider">
                    <div class="swiper fighters-video-slider">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                          <!-- Slides -->
                          <div class="swiper-slide">
                            <a data-fancybox="video-gallery" data-src="https://www.youtube.com/watch?v=jN07H_jL_AM">
                                <img src="./img/partners/video-preview-1.jpg" />
                                <button class="btn btn-reset slider__crop video-gallery__crop">
                                    <svg>
                                        <use xlink:href="./img/sprite.svg#play"></use>
                                    </svg>
                                </button>
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a data-fancybox="video-gallery" data-src="https://www.youtube.com/watch?v=Qas-xx6kj5M">
                                <img src="./img/partners/video-preview-2.jpg" />
                                <button class="btn btn-reset slider__crop video-gallery__crop">
                                    <svg>
                                        <use xlink:href="./img/sprite.svg#play"></use>
                                    </svg>
                                </button>
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a data-fancybox="video-gallery" data-src="https://www.youtube.com/watch?v=uXjLfSFkqTs">
                                <img src="./img/partners/video-preview-1.jpg" />
                                <button class="btn btn-reset slider__crop video-gallery__crop">
                                    <svg>
                                        <use xlink:href="./img/sprite.svg#play"></use>
                                    </svg>
                                </button>
                            </a>
                          </div>
                          
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                    </div>
                </div>
                <div class="fighters-video__info fighters-info">
                    <h2 class="fighters-info__title">Видео с бойцами GRAPPFIT</h2>
                    <p class="fighters-info__name">RCC, fight nights, M1, octagon, HardcoreFC, kunlun fight</p>
                    <p class="fighters-info__descr">Это лиги в которых  бойцы бьются — тут будет текст, описание, который красиво расскажет о продукции.</p>
                    <p class="fighters-info__descr">Значимость этих проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании систем массового участия.</p>
                </div>
            </div>
        </div>
        <ul class="fighters__list fighters-list list-reset">
            <li class="fighters__item">
                <img src="./img/partners/fighter-1.jpg" alt="fighter" class="fighters-list__img">
                <span class="fighters-list__name">Таминдаров Эрик</span>
                <a href="https://www.instagram.com/tamindaroverik_mma/" class="fighters-list__insta fighters-insta insta-default__link">
                    <div class="fighters-insta__logo">
                        <svg>
                            <use xlink:href='./img/sprite.svg#instagram'></use>
                        </svg>
                    </div>
                    <span class="fighters-insta__text">@tamindaroverik_mma</span>
                </a>
                <button class="btn btn--small btn-reset fighters-item__btn btn--red">Подробнее</button>
            </li>
            <li class="fighters__item">
                <img src="./img/partners/fighter-2.jpg" alt="fighter" class="fighters-list__img">
                <span class="fighters-list__name">Таминдаров Эрик</span>
                <a href="https://www.instagram.com/evgeniidomozhirov.mma/" class="fighters-list__insta fighters-insta">
                    <div class="fighters-insta__logo">
                        <svg>
                            <use xlink:href='./img/sprite.svg#instagram'></use>
                        </svg>
                    </div>
                    <span class="fighters-insta__text">@evgeniidomozhirov.mma</span>
                </a>
                <button class="btn btn--small btn-reset fighters-item__btn btn--red">Подробнее</button>
            </li>
            <li class="fighters__item">
                <img src="./img/partners/fighter-3.jpg" alt="fighter" class="fighters-list__img">
                <span class="fighters-list__name">Таминдаров Эрик</span>
                <a href="https://www.instagram.com/rock13.13/" class="fighters-list__insta fighters-insta">
                    <div class="fighters-insta__logo">
                        <svg>
                            <use xlink:href='./img/sprite.svg#instagram'></use>
                        </svg>
                    </div>
                    <span class="fighters-insta__text">@rock13.13</span>
                </a>
                <button class="btn btn--small btn-reset fighters-item__btn btn--red">Подробнее</button>
            </li>
        </ul>
        <div class="fighters">
            <div class="fighters__video fighters-video">
                <div class="fighters-video__slider">
                    <div class="swiper fighters-video-slider">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                          <!-- Slides -->
                          <div class="swiper-slide">
                            <a data-fancybox="video-gallery-2" data-src="https://www.youtube.com/watch?v=Qas-xx6kj5M">
                                <img src="./img/partners/video-preview-2.jpg" />
                                <button class="btn btn-reset slider__crop video-gallery__crop">
                                    <svg>
                                        <use xlink:href="./img/sprite.svg#play"></use>
                                    </svg>
                                </button>
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a data-fancybox="video-gallery-2" data-src="https://www.youtube.com/watch?v=jN07H_jL_AM">
                                <img src="./img/partners/video-preview-1.jpg" />
                                <button class="btn btn-reset slider__crop video-gallery__crop">
                                    <svg>
                                        <use xlink:href="./img/sprite.svg#play"></use>
                                    </svg>
                                </button>
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a data-fancybox="video-gallery-2" data-src="https://www.youtube.com/watch?v=uXjLfSFkqTs">
                                <img src="./img/partners/video-preview-2.jpg" />
                                <button class="btn btn-reset slider__crop video-gallery__crop">
                                    <svg>
                                        <use xlink:href="./img/sprite.svg#play"></use>
                                    </svg>
                                </button>
                            </a>
                          </div>
                          
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                    </div>
                </div>
                <div class="fighters-video__info fighters-info">
                    <h2 class="fighters-info__title">Видео производства</h2>
                    <p class="fighters-info__name">У нас собственное производство</p>
                    <p class="fighters-info__descr">Интересные факты о производстве, которые описывают  что-то значимое.</p>
                    <p class="fighters-info__descr">Значимость этих проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании систем массового участия.</p>
                </div>
            </div>
        </div>
    </div>
</section>