<section class="partners">
    <div class="container">
        <img src="./img/partners/partners-bg.png" alt="partners" class="partners__bg">
        <ul class="partners__list list-reset">
            <li class="partners__item">
                <svg>
                    <use xlink:href=".img/sprite.svg#partner-1"></use>
                </svg>
            </li>
            <li class="partners__item">
                <svg>
                    <use xlink:href=".img/sprite.svg#partner-2"></use>
                </svg>
            </li>
            <li class="partners__item">
                <svg>
                    <use xlink:href=".img/sprite.svg#partner-3"></use>
                </svg>
            </li>
            <li class="partners__item">
                <svg>
                    <use xlink:href=".img/sprite.svg#partner-4"></use>
                </svg>
            </li>
            <li class="partners__item">
                <svg>
                    <use xlink:href=".img/sprite.svg#partner-5"></use>
                </svg>
            </li>
        </ul>
        <svg>
            <use xlink:href='./img/sprite.svg#text-line'></use>
        </svg>
        <div class="fighters">
            <div class="fighters__video fighters-video">
                <div class="fighters-video__slider">
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                          <!-- Slides -->
                          <div class="swiper-slide">
                            <a data-fancybox="video-gallery" data-src="https://www.youtube.com/watch?v=z2X2HaTvkl8">
                                <img src="http://i3.ytimg.com/vi/z2X2HaTvkl8/hqdefault.jpg" />
                                <button class="fighters-video__play btn btn-reset"></button>
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a data-fancybox="video-gallery" data-src="https://www.youtube.com/watch?v=z2X2HaTvkl8">
                                <img src="http://i3.ytimg.com/vi/z2X2HaTvkl8/hqdefault.jpg" />
                                <button class="fighters-video__play btn btn-reset"></button>
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a data-fancybox="video-gallery" data-src="https://www.youtube.com/watch?v=z2X2HaTvkl8">
                                <img src="http://i3.ytimg.com/vi/z2X2HaTvkl8/hqdefault.jpg" />
                                <button class="fighters-video__play btn btn-reset"></button>
                            </a>
                          </div>
                          
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                    </div>
                </div>
                <div class="fighters-video__info fighters-info">
                    <h2 class="fighters-info__title">Видео с бойцами GRAPPFIT</h2>
                    <p class="fighters-info__name">RCC, fight nights, M1, octagon, HardcoreFC, kunlun fight</p>
                    <p class="fighters-info__descr">Это лиги в которых  бойцы бьются — тут будет текст, описание, который красиво расскажет о продукции.
                    Значимость этих проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании систем массового участия.</p>
                </div>
            </div>
        </div>
        <ul class="fighters__list fighter-list list-reset">
            <li class="fighters__item">
                <img src="./img/partners/fighter-1.jpg" alt="fighter" class="fighter-list__img">
                <span class="fighters-list__name">Таминдаров Эрик</span>
                <a href="https://www.instagram.com/tamindaroverik_mma/" class="fighter-list__insta fighter-insta insta-default__link">
                    <div class="fighter-insta__logo">
                        <svg>
                            <use xlink:href='./img/sprite.svg#instagram'></use>
                        </svg>
                    </div>
                    <span class="fighter-insta__text">@tamindaroverik_mma</span>
                </a>
            </li>
            <li class="fighters__item">
                <img src="./img/partners/fighter-2.jpg" alt="fighter" class="fighter-list__img">
                <span class="fighters-list__name">Таминдаров Эрик</span>
                <a href="https://www.instagram.com/evgeniidomozhirov.mma/" class="fighter-list__insta fighter-insta">
                    <div class="fighter-insta__logo">
                        <svg>
                            <use xlink:href='./img/sprite.svg#instagram'></use>
                        </svg>
                    </div>
                    <span class="fighter-insta__text">@evgeniidomozhirov.mma</span>
                </a>
            </li>
            <li class="fighters__item">
                <img src="./img/partners/fighter-3.jpg" alt="fighter" class="fighter-list__img">
                <span class="fighters-list__name">Таминдаров Эрик</span>
                <a href="https://www.instagram.com/rock13.13/" class="fighter-list__insta fighter-insta">
                    <div class="fighter-insta__logo">
                        <svg>
                            <use xlink:href='./img/sprite.svg#instagram'></use>
                        </svg>
                    </div>
                    <span class="fighter-insta__text">@rock13.13</span>
                </a>
            </li>
        </ul>
        <div class="fighters">
            <div class="fighters__video fighters-video">
                <div class="fighters-video__slider">
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                          <!-- Slides -->
                          <div class="swiper-slide">
                            <a data-fancybox="video-gallery" data-src="https://www.youtube.com/watch?v=z2X2HaTvkl8">
                                <img src="http://i3.ytimg.com/vi/z2X2HaTvkl8/hqdefault.jpg" />
                                <button class="fighters-video__play btn btn-reset"></button>
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a data-fancybox="video-gallery" data-src="https://www.youtube.com/watch?v=z2X2HaTvkl8">
                                <img src="http://i3.ytimg.com/vi/z2X2HaTvkl8/hqdefault.jpg" />
                                <button class="fighters-video__play btn btn-reset"></button>
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a data-fancybox="video-gallery" data-src="https://www.youtube.com/watch?v=z2X2HaTvkl8">
                                <img src="http://i3.ytimg.com/vi/z2X2HaTvkl8/hqdefault.jpg" />
                                <button class="fighters-video__play btn btn-reset"></button>
                            </a>
                          </div>
                          
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                    </div>
                </div>
                <div class="fighters-video__info fighters-info">
                    <h2 class="fighters-info__title">Видео производства</h2>
                    <p class="fighters-info__name">У нас собственное производство</p>
                    <p class="fighters-info__descr">Интересные факты о производстве, которые описывают  что-то значимое.
                    Значимость этих проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании систем массового участия.</p>
                </div>
            </div>
        </div>
    </div>
</section>