<section class="price">
  <div class="price__info price-info">
    <div class="container price-info__container">
      <div class="price-info__left">
        <img
          class="price-info__rashgards"
          src="./img/price/price-rashgards.png"
          alt="price-rashgards"
        />
        <div class="price-info__block">
          <h2 class="price__title">
            У нас есть интересные <span>оптовые предложения!</span>
          </h2>
          <p class="price__text">
            Оставляй контакты и мы вышлем вам оптовый прайс-лист
          </p>
        </div>
      </div>
      <form action="#" class="price-form">
        <label class="price-form__label input-label">
          <input
            class="price-form__input input-default"
            placeholder="Контактный телефон"
            type="text"
          />
        </label>
        <a href="#" class="price-form__btn btn btn--red">Скачать прайс-лист</a>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="advantages">
      <ul class="advantages__list list-reset">
        <li class="advantages__item">
          <div class="advantages__icon">
            <svg>
              <use xlink:href="./img/sprite.svg#adv-1"></use>
            </svg>
          </div>
          <div class="advantages__info">
            <p class="advantages__text">
              Компрессионную спортивную одежду спортсмены используют
              <span>во время тренировок,</span>
            </p>
            <p class="advantages__descr">чтобы предотвратить трение и сыпь</p>
          </div>
        </li>
        <li class="advantages__item">
          <div class="advantages__icon">
            <svg>
              <use xlink:href="./img/sprite.svg#adv-2"></use>
            </svg>
          </div>
          <div class="advantages__info">
            <p class="advantages__text">
                <span>Уменьшает жёсткость</span> («забивание») мышц спортсмена
            </p>
            <p class="advantages__descr">за счёт динамического оттока крови</p>
          </div>
        </li>
        <li class="advantages__item">
          <div class="advantages__icon">
            <svg>
              <use xlink:href="./img/sprite.svg#adv-3"></use>
            </svg>
          </div>
          <div class="advantages__info">
            <p class="advantages__text">
                <span>Ускоряет восстановление</span> после окончания упражнений
            </p>
            <p class="advantages__descr">и можно быстрее перейти к выполнению упражнений</p>
          </div>
        </li>
        <li class="advantages__item">
          <div class="advantages__icon">
            <svg>
              <use xlink:href="./img/sprite.svg#adv-4"></use>
            </svg>
          </div>
          <div class="advantages__info">
            <p class="advantages__text">
                Компресионная одежда <span>повторяет анатомическую форму</span> спортсмена,
            </p>
            <p class="advantages__descr">показывая тело атлета с лучшей стороны</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
