html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  color: $black;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  &--small {
    max-width: 1000px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.title {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
}

.subtitle {
  font-size: 22px;
  line-height: 32px;
}

.btn {
  padding: 26px 62px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  &--red {
    background-color: $red;
    border: 2px solid $red;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    color: #fff;
    &:hover {
      background-color: transparent;
      color: $red;
    }
  }

  &--small {
    padding: 15px 20px;
  }

  &--black {
    background-color: #fff;
    border: 2px solid $black;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    color: $black;
    &:hover {
      background-color: $black;
      color: #fff;
    }
  }
}

.input-default {
  padding: 26px 45px;
  border: 1px solid $input-gray;
  border-radius: 50px;
  background-color: #fff;
  &::placeholder {
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: $input-gray;
  }
  &:focus {
    outline: none;
  }
}


.icon-btn {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  &.active .icon-btn__text {
    color: $black;
  }
  &.active svg {
      fill: $black;
  }
  &--red {
    .icon-btn__text {
      color: $red;
      text-decoration-color: $red;
    }
    &:hover.icon-btn .icon-btn__text {
      color: $red;
    }
  }
    
  &--gray {
    .icon-btn__text {
      color: $input-gray;
      text-decoration-color: $input-gray;
    }
    &:hover.icon-btn .icon-btn__text {
      color: $black;
    }
    svg {
      fill: $input-gray;
    }
    &:hover.icon-btn svg {
      fill: $black;
    }
  }
    
  &:hover .icon-btn__text {
      text-decoration-color: transparent;
  }
  &__text {
      margin-left: 5px;
      text-decoration: underline;
      transition: text-decoration-color .3s ease-in-out, color .3s ease-in-out;
  }
  svg {
      width: 40px;
      height: 40px;
      transition: fill .3s ease-in-out
  }
}

.slider {
  &__crop {
    position: absolute;
    width: 70px;
    height: 70px;
    padding: 0;
    background-color: $red-opacity;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translate(0 , -65%);
    opacity: 0;
    transition: opacity .2s ease-in;
    
    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.questions__map-text {
  margin: 0;
}
.questions__map-logo {
  padding-top: 5px;
}