// если вы хотите использовать sass-переменные - удалите root
// colors

$red: #FE0202;
$blur:rgba(240, 240, 240, 0.15);
$black: #0B0B0B;
$gray: #F0F0F0;
$input-gray: #AFAFAF;
$old-price: #8D8D8D;
$blur-hover:rgba(229, 229, 229, 0.25);
$article-before:  rgba(11, 11, 11, 0.3);
$red-opacity: rgba(254, 2, 2, 0.5);